body {
    color: $gray;
    font-family: $ff-s;
    line-height : 1.5;
    background: $white;
    overflow-x: hidden;

    @include media {
        font-size: 1.125rem;
      }
}

img {
    max-width: 100%;
}

h1, h2, p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1 {
    color: $accent;
    line-height: 1;
    font-size: 2.5rem;

    @include media {
        font-size: 3.125em;
    }
}

p {
    font-size: .8rem;

    @include media {
        font-size: 1rem;
    }
}

h2 {
    @include sans-serif($fs: 2rem, $ls : .15em);

    @include media {
        font-size: 2.5em;
    }
}
