.wellcome {
    background: url('../../img/header-bg.png');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-size: 1.5rem;
        font-weight: $fw-n;
        color: $dark-blue;
        line-height: 1.5;
        text-align: center;

        span {
            @include sans-serif($fs: 5.5rem,$color : $accent);
            display: block;

            @include media {
                font-size: 6em;       
            }
        }

        &::before, &::after  {
            content:  '';
            width: 50%;
            height: 1px;
            background: $dark-blue;
            display: block;
        }

        &::before {
            margin: 0 auto 2em;
        }

        &::after {
            margin: 2em auto 0;
        }
    }
}